<div class="page page--wrap g">
    <div class="u-md-6 offset-md-3">
        <h1>Create an organization</h1>
        <div class="card card-pad-md">
            <form action="" id="orgForm" class="form">
                <fieldset>
                    <label for="orgName">Name</label>
                    <input type="text" id="orgName" class="" />
                </fieldset>
                <fieldset>
                    <label for="orgContact">Contact</label>
                    <input type="text" id="orgContact" class="" />
                </fieldset>
                <fieldset>
                    <button class="button" type="submit">Create Org</button>
                </fieldset>
            </form>    
        </div>
    </div>
</div>
