<div class="page page--wrap g">
    <div class="u-sm-12 text-center">
        <h1>Here are your organizations</h1>
    </div>
    <div class="u-md-3 offset-md-3">
        <ul id="org-list">
        </ul>
    </div>
</div>
