        <div class="u-md-12 text-center">        
            <h1>League Ahead</h1>        
    
            <p>Hey there pal! You should sign up. </p>
            <a href="signup.html" class="button input-large">Sign Up</a>
        </div>    
    </div>
