    <div class="page page--app  g">
        <div class="u-md-3  sidebar  sidebar--app">
            <nav>
                <a href="" class="button--link text-left"><i class="icon fa-fw fa-cube"></i>Organization</a>
                <a href="" class="button--link text-left"><i class="icon fa-fw fa-cube"></i>League</a>
                <a href="" class="button--link text-left"><i class="icon fa-fw fa-cube"></i>Division</a>
                <a href="" class="button--link text-left"><i class="icon fa-fw fa-cube"></i>Team</a>
            </nav>
        </div>
        <div class="u-md-7 offset-md-4">    
            <h1>Welcome Player 1</h1>
            <form class="card card-pad-md" action="#" id="orgForm">
                <fieldset>
                    <label for="orgName">Name</label>
                    <input id="orgName" class="input-fit" type="text" />
                </fieldset>            
                <fieldset>
                    <label for="orgOwner">Owner</label>
                    <input id="orgOwner" class="input-fit" type="text" />
                </fieldset>            
                <fieldset>
                    <label for="orgContact">Contact</label>
                    <input id="orgContact" class="input-fit" type="text" />
                </fieldset>            
                <fieldset>
                    <button class="button--block" type="submit">Create Org</button>
                </fieldset>
            </form>
        </div>
    </div> 
