<div class="page page--wrap g">
    <div class="u-sm-12 text-center">
        <h1>What would you like to do?</h1>
        <p>
        <a href="" class="button--link" >Join a Team</a>
        </p>
        <p>
        <a href="" class="button--link">Join a League</a>
        </p>
        <p>
        <a href="" class="button--link">Start an Organization</a>
        </p>
    </div>
</div>
