<div class="page page--wrap g">
    <div class="u-sm-12 text-center">
        <h1>What would you like to do?</h1>
    </div>
    <div class="u-md-3 offset-md-3  text-center">
        <p>
        <a href="/orgs/create.html" class="button--link">Start an Organization</a>
        </p>
    </div>
    <div class="u-md-3 text-center">
        <p>
        <a href="teams.html" class="button--link" >Find a Team</a>
        </p>
        <p>
        <a href="leagues.html" class="button--link">Find a League</a>
        </p>
        
    </div>
</div>
